In [ ]:
import pandas as pd


# Cargar el dataset
df = pd.read_csv("Electric_Vehicle_Population_Data.csv")
print(df.head())

   VIN (1-10)     County          City State  Postal Code  Model Year  \
0  1C4JJXP66P     Kitsap       Poulsbo    WA      98370.0        2023
1  1G1FX6S08K  Snohomish  Lake Stevens    WA      98258.0        2019
2  WBY1Z2C58F       King       Seattle    WA      98116.0        2015
3  5YJ3E1EBXK       King       Seattle    WA      98178.0        2019
4  5YJSA1V24F     Yakima         Selah    WA      98942.0        2015

        Make     Model                   Electric Vehicle Type  \
0       JEEP  WRANGLER  Plug-in Hybrid Electric Vehicle (PHEV)
1  CHEVROLET   BOLT EV          Battery Electric Vehicle (BEV)
2        BMW        I3          Battery Electric Vehicle (BEV)
3      TESLA   MODEL 3          Battery Electric Vehicle (BEV)
4      TESLA   MODEL S          Battery Electric Vehicle (BEV)

  Clean Alternative Fuel Vehicle (CAFV) Eligibility  Electric Range  \
0             Not eligible due to low battery range            21.0
1           Clean Alternative Fuel Vehicle Eligible           238.0
2           Clean Alternative Fuel Vehicle Eligible            81.0
3           Clean Alternative Fuel Vehicle Eligible           220.0
4           Clean Alternative Fuel Vehicle Eligible           208.0

   Base MSRP  Legislative District  DOL Vehicle ID  \
0        0.0                  23.0       258127145
1        0.0                  44.0         4735426
2        0.0                  34.0       272697666
3        0.0                  37.0       477309682
4        0.0                  15.0       258112970

              Vehicle Location                              Electric Utility  \
0  POINT (-122.64681 47.73689)                        PUGET SOUND ENERGY INC
1  POINT (-122.06402 48.01497)                        PUGET SOUND ENERGY INC
2  POINT (-122.41067 47.57894)  CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
3  POINT (-122.23825 47.49461)  CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
4  POINT (-120.53145 46.65405)                                    PACIFICORP

   2020 Census Tract
0       5.303509e+10
1       5.306105e+10
2       5.303301e+10
3       5.303301e+10
4       5.307700e+10

### 2. Explorar el dataset

In [6]:
# describir el dataset
df.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,223992.000000,223995.000000,223977.000000,223977.000000,223521.000000,2.239950e+05,2.239920e+05
mean,98176.491165,2021.264408,47.736187,829.894386,28.876361,2.329328e+08,5.297997e+10
std,2544.240509,2.989676,84.987140,7372.509049,14.911023,6.884329e+07,1.531491e+09
min,1731.000000,1999.000000,0.000000,0.000000,1.000000,4.385000e+03,1.001020e+09
25%,98052.000000,2020.000000,0.000000,0.000000,17.000000,2.008002e+08,5.303301e+10
50%,98126.000000,2022.000000,0.000000,0.000000,32.000000,2.482992e+08,5.303303e+10
75%,98374.000000,2023.000000,39.000000,0.000000,42.000000,2.673973e+08,5.305307e+10
max,99577.000000,2025.000000,337.000000,845000.000000,49.000000,4.792548e+08,5.602100e+10

In [7]:
# ver las columnas del dataset
for column in df.columns:
    print(column)

VIN (1-10)
County
City
State
Postal Code
Model Year
Make
Model
Electric Vehicle Type
Clean Alternative Fuel Vehicle (CAFV) Eligibility
Electric Range
Base MSRP
Legislative District
DOL Vehicle ID
Vehicle Location
Electric Utility
2020 Census Tract

### Limpieza del dataset

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223995 entries, 0 to 223994
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   vin_(1-10)                                         223995 non-null  object
 1   county                                             223992 non-null  object
 2   city                                               223992 non-null  object
 3   state                                              223995 non-null  object
 4   postal_code                                        223992 non-null  float64
 5   model_year                                         223995 non-null  int64
 6   make                                               223995 non-null  object
 7   model                                              223995 non-null  object
 8   electric_vehicle_type                              223995 non-null  object
 9   clean_alternative_fuel_vehicle_(cafv)_eligibility  223995 non-null  object
 10  electric_range                                     223977 non-null  float64
 11  base_msrp                                          223977 non-null  float64
 12  legislative_district                               223521 non-null  float64
 13  dol_vehicle_id                                     223995 non-null  int64
 14  vehicle_location                                   223985 non-null  object
 15  electric_utility                                   223992 non-null  object
 16  2020_census_tract                                  223992 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 29.1+ MB

In [11]:
# duplicar el dataset para  que tengaga el doble de informacion
df2 = df.copy()
df2 = pd.concat([df, df, df, df, df, df, df, df, df, df, df, df, df, df, df, df, df, df], ignore_index=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4031910 entries, 0 to 4031909
Data columns (total 17 columns):
 #   Column                                             Dtype
---  ------                                             -----
 0   vin_(1-10)                                         object
 1   county                                             object
 2   city                                               object
 3   state                                              object
 4   postal_code                                        float64
 5   model_year                                         int64
 6   make                                               object
 7   model                                              object
 8   electric_vehicle_type                              object
 9   clean_alternative_fuel_vehicle_(cafv)_eligibility  object
 10  electric_range                                     float64
 11  base_msrp                                          float64
 12  legislative_district                               float64
 13  dol_vehicle_id                                     int64
 14  vehicle_location                                   object
 15  electric_utility                                   object
 16  2020_census_tract                                  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 522.9+ MB

In [13]:
suma = df.duplicated().sum()
print(suma)

0

In [14]:
# Eliminar duplicados
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223995 entries, 0 to 223994
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   vin_(1-10)                                         223995 non-null  object
 1   county                                             223992 non-null  object
 2   city                                               223992 non-null  object
 3   state                                              223995 non-null  object
 4   postal_code                                        223992 non-null  float64
 5   model_year                                         223995 non-null  int64
 6   make                                               223995 non-null  object
 7   model                                              223995 non-null  object
 8   electric_vehicle_type                              223995 non-null  object
 9   clean_alternative_fuel_vehicle_(cafv)_eligibility  223995 non-null  object
 10  electric_range                                     223977 non-null  float64
 11  base_msrp                                          223977 non-null  float64
 12  legislative_district                               223521 non-null  float64
 13  dol_vehicle_id                                     223995 non-null  int64
 14  vehicle_location                                   223985 non-null  object
 15  electric_utility                                   223992 non-null  object
 16  2020_census_tract                                  223992 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 29.1+ MB

In [ ]:
# guar